
<!-- lobby before entering  -->
<div>
<input placeholder="player_name"/>
<!-- using the phx-click live view listening and send the event new-game -->
<button phx-click="new-game"> Enter Game </button>
</div>
