/* This file is for your main application CSS */
@import "./phoenix.css";
@import "./cards.css";
@import "./modal.css";

/* you can put your styles in here */

.blackjack-container-common {
  border: 1px solid rgb(158, 157, 157);
  border-radius: 10px;
  padding: 1em 2em 1em 2em;
  margin: 10px
}

.dealer-info {
  padding: 8px 2em 0em 1em;
  min-height: 80px;
  font-size: 18px;
}

.dealer-container {
 margin: auto;
 width: 60%;
 background-color: #9f7a7a63;
}
.gap {
  height: 100px;
  height: 100px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.gap button, .hit {
  background-color: green;
  border-color: green;
}

.gap button:hover, .hit:hover {
  background-color: white;
  color: green;
  border-color: green;
}

.player-container {
  margin-bottom: 2em;
  display: inline-block;
  width: 30%;
  background: #9f7a7a63;
  vertical-align: top;
}

/* Alerts and form errors used by phx.new */
.alert {
  padding: 15px;
  margin-bottom: 20px;
  border: 1px solid transparent;
  border-radius: 4px;
}

.alert-info {
  color: #31708f;
  background-color: #d9edf7;
  border-color: #bce8f1;
}

.alert-warning {
  color: #8a6d3b;
  background-color: #fcf8e3;
  border-color: #faebcc;
}

.alert-danger {
  color: #a94442;
  background-color: #f2dede;
  border-color: #ebccd1;
}

.alert p {
  margin-bottom: 0;
}

.alert:empty {
  display: none;
}

.invalid-feedback {
  color: #a94442;
  display: block;
  margin: -1rem 0 2rem;
}

/* LiveView specific classes for your customization */
.phx-no-feedback.invalid-feedback,
.phx-no-feedback .invalid-feedback {
  display: none;
}

.phx-click-loading {
  opacity: 0.5;
  transition: opacity 1s ease-out;
}

.phx-loading {
  cursor: wait;
}

.phx-modal {
  opacity: 1 !important;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
}

.phx-modal-content {
  background-color: #fefefe;
  margin: 15vh auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

.phx-modal-close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.phx-modal-close:hover,
.phx-modal-close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.fade-in-scale {
  animation: 0.2s ease-in 0s normal forwards 1 fade-in-scale-keys;
}

.fade-out-scale {
  animation: 0.2s ease-out 0s normal forwards 1 fade-out-scale-keys;
}

.fade-in {
  animation: 0.2s ease-out 0s normal forwards 1 fade-in-keys;
}

.fade-out {
  animation: 0.2s ease-out 0s normal forwards 1 fade-out-keys;
}

@keyframes fade-in-scale-keys {
  0% {
    scale: 0.95;
    opacity: 0;
  }

  100% {
    scale: 1.0;
    opacity: 1;
  }
}

@keyframes fade-out-scale-keys {
  0% {
    scale: 1.0;
    opacity: 1;
  }

  100% {
    scale: 0.95;
    opacity: 0;
  }
}

@keyframes fade-in-keys {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes fade-out-keys {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}


.header {
  /* background-color: #9BCFFF; */
  background-color: #9bcfff12;
  height: 60px;
  min-height: 60px;
  display: flex;
  flex-direction: row;
  align-items: center;
  /* margin-bottom: 20px; */
  justify-content: space-between;
  color: rgb(192, 188, 188);
}

.header h2 {
  font-size: 36px;
  font-weight: bold;
  text-transform: uppercase;
  line-height: 100px;
  padding-left: 30px;
  font-family: cursive;
}

.header h3 {
  padding-right: 20px;
}

.header-welcome {
  margin-top: 25px;
}

.enterUserInfoForm {
  max-width: 700px;
  padding-top: 100px;

}

.userInfoFormContainer {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.playingCardsContainer {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: center;
}

.button-container {
  display: flex;
  flex-direction: inherit;
}

.button-container button {
  margin: 5px
}

.playerContainer {
  display: flex;
  justify-content: space-between;
  font-size: 1.2em;
  color: white;
}

.player-container p {
  text-align: center !important;
  margin: 0px !important;
}

.playerName {
  max-width: 300px;
  /* margin-right: 30px; */
  word-break: break-word;
}

.playingDetails {
  /* display: flex; */
}

.leaveBtn, .stand {
  background-color: red;
  border-color: red;
}

.leaveBtn:hover, .stand:hover {
  background-color: white;
  border-color: red;
  color: red;
}

.dealer {
  position: absolute;
  color: white;
  font-size: 1.5em;
}

.content {
  margin-left: 10px;
}
